
* アブストラクト
算術計算問題は子供が早期のうちに学習するコアスキルであり，側頭葉と頭頂葉のネットワークにかかわるものである．本研究において，著者らはNIRS脳計測装置（以下，NIRS）を用いて大脳皮質の血中に含まれる酸素化ヘモグロビン（Oxy-Hb）および脱酸素化ヘモグロビン（Deoxy-Hb）の濃度変化を調査した．10人の健常者に2桁の足し算の計算，もしくは読み上げタスクを数式または文章問題で行った．著者らは左右両半球の頭頂部において，読み上げタスク時に比べて計算タスク時のOxy-Hbが大きく増加した．さらに，これらの増加傾向は数式よりも文章問題のときによく見られた．これに対応して，Deoxy-Hbの減少もまた検出された．本題におけるNIRSの結果は，計算タスクの処理が頭頂部に関連し，その活性度が問題形式の難しさ，困難さに依存することを裏付けている．

* はじめに
単純計算は数認識の中心的な要素であり，しばしば日常生活で用いられる．中でも足し算は基礎的作業の中核の1つである．著者らの研究目的は，基本的な数学処理（2桁の足し算）を行っている時の頭頂部位でのOxy-Hbの変化をNIRSで検出することである．これにより，彼らはNIRSは近年の脳機能イメージング研究のように大脳皮質の活動を検出することができ，それでいて低コストで簡易な計測ができるという利点があることを示したい．これは非常に重要なことであり，子どもたちを対象とした計算作業の研究においてNIRSはfMRIやPETよりも大きな意義を示すことができる．

さらに，数式を用いたタスクと文章問題タスクとの脳活動の違いについても検討を行った．これは，子どもの学習過程を目的とする研究において非常に重要である．なぜならば，学校では言葉に関する問題が算数学習において大きな部分を占めるからである．

* 実験方法
著者らは多チャンネルNIRS脳計測装置（ETG-4000光トポグラフィ，株式会社日立メディコ製）を脳組織の酸素計測に用いた．計測には3×5の22チャンネルプローブを2つ用い，国際10-20法におけるP3（左半球）およびP4（右半球）を基準にして設置した．実験はヘルシンキ宣言と地元の倫理委員会の承認のもと，10人の健常被験者（男性3人，左利き1人;平均年齢24.2±2.4歳）で行った．被験者の中に身体疾患または精神疾患を患っている者はいなかった．インフォームドコンセントを得た後，NIRSのプローブを被験者の頭部に設置した．NIRSで計測を行っている間，被験者には2種類の計算タスクを科した．1つはアラビア数字を用いた2桁の足し算（例. 26+17），もう1つは同様の計算を行う文章問題である（例. Lisaは財布に37ユーロ持っていて，彼女の母が25ユーロ追加しました．Lisaの財布には何ユーロ入っている？）．両タスクは2つの条件で行われた．計算を行い3つの回答から正解を1つ選ぶ方法（以下，計算条件）と，正解のみ提示してそれを読み上げる方法（以下，読み上げ条件）である．

問題は全体で140試行（各種類および各条件で35試行ずつ）行い，各問題はコンピュータの画面上に提示するものである．各問題は開始時から500[ms]のあいだ十字形を提示した後，4500[ms]のあいだ問題を提示する．その後，複数の回答を2000[ms]のあいだ提示する．読み上げ条件の場合，正解だけを表示する．被験者は選択した回答，または正解を口にするときにボタンを押さなければならない．この手順は運動活動が条件によって異ならないことを保証する．各試行間で，5500[ms]のブランク画面を表示する．以上の手順を{{1}}に示す．

%%1526_image0.png/400
$% タスクシーケンス（出典：参考文献{=1=}を参考に自作）

このタスクには2つのブロックが存在し，1つは計算条件のみ，もう一方は読み上げ条件のみで構成されている．これら2つを行う順番は被験者ごとにランダムとした．読み上げ条件のブロックを実行する前に，被験者には提示された数式や文章問題を計算しないよう明確に指示した．各ブロックでは，数値や文章問題がコンピュータによってランダムに提示された．計算実行中は，ミス（例えば2秒以内に選択ボタンを押す前に次の試行が自動的に始まった場合）と同時に間違った回答も記録された．

データ解析のため，著者らは両半球の関心領域（Region of Interest：ROI）を設定し，その際算術問題に関連する頭頂葉を含むようにした．従って，左半球のチャンネル6，10，11，15と右半球のチャンネル8，12，13，17とした．ROIの位置は{{2}}の標準脳上に示すとおりである．

%%1526_image1.png/600
$% 各タスク時のOxy-Hbの変化量（出典：参考文献{=1=}）

計算条件および読み上げ条件における数式問題のOxy-Hbの変化量を{{2}}の左，文章問題のOxy-Hbの変化量を右に示す．
NIRSのデータはブロックデザイン内の平均化されたOxy-HbおよびDeoxy-Hbの取得データである．Hb変化量は刺激前の2秒間（ベースライン過程）と，刺激開始後6～8秒の2秒間（アクティブ過程：血行動態の反応作用のピークが期待される）を対象とし，それぞれ各タスク条件で35試行の平均値をとった．Oxy-HbおよびDeoxy-Hbの変化量は"type"（数式と文章），"condition"（計算と読み上げ），"phase"（ベースラインとアクティブ）そして"side"（左と右）を用いた2×2×2×2の分散分析（ANOVA）で比較を行なった．相互作用結果を調査するため，一致したサンプルに対しては必要に応じてポストホックt検定（ANOVAを行ったうえでのt検定）を行い，群間の有意差を検討した上での平均値の比較を行った．統計分析にはSPSS 14.0ソフトウェアを使用した．ROI内に特有に見られる効果を確認するため，著者らはROIの活動から前頭・側頭葉における非ROIのチャンネル（左半球：8，12，13，17および右半球：6，10，11，15）の活動を差し引いた．非ROIの活動が修正されたデータに対し，上述と同じANOVAを行い，結果をROI-ANOVAと比較した．

* 実験結果
** パフォーマンス
数式の問題（エラー（誤答）とミスの中間値：M_n-em = 1.8±1.7; T_9=3.03; P=0.014）に対して，文章問題（M_w-em = 8.2±7.2）の全体の成績は著しく悪かった．これは，数式の問題のミス（M_n-m = 1.2±1.5; T_9=2.52; P=0.033）よりも文章問題のミス（M_w-m = 6.6±7.1）が著しく大きいことに基づくものであり，一方でエラーの数に大きな差は見られなかった（M_w-e = 1.6±1.5; M_n-e=0.6±0.8; T_9=1.50, n.s.）．脳の酸素処理量とエラーとミスの数の間に，スピアマンの順位相関係数による著しい相関は見られなかった．

** NIRS
Oxy-Hbに関して，著者らは要因"type"（F_1,9 = 5.52; P=0.043）と"condition"（F_1,9 = 8.22; P=0.019）における主効果を発見した．前者では数式問題と比較して文章問題が著しく大きい変化量を示し，後者では読み上げ条件と比較して計算条件が著しく大きい変化量を示した．さらに，予め定めたROI内で"type × condition"（F_1,9 = 8.92; P=0.015）, "phase × condition"（F_1,9 = 9.76; P=0.012）,そして"side × phase × condition"（F_1,9 = 8.84; P=0.016）の相互作用が見られた．"type × condition"については，文章問題におけるOxy-Hbの値は読み上げ条件よりも計算条件の方が高く（T_9 = 3.25; P=0.010），さらに計算条件におけるOxy-Hbは計算問題よりも文章問題の方が高かった（T_9 = 3.30; P=0.009）（{{3}}-a参照）．"type × condition"における酸素量の増減は図2のとおりである．"phase × conditon"については，ポストホック検定によってアクティブ時におけるOxy-Hbの増加が，読み上げ条件と比較して計算条件の方が高いことを示し（T_9 = 3.16; P=0.012），また各conditionでアクティブとベースラインには著しい差があることを示した（計算条件: T_9 = 2.73; P=0.0023; 読み上げ条件: T_9 = -2.49; P=0.034）（{{4}}-a参照）．
"side × phase × condition"相互作用の検討では，ベースライン補正されたOxy-Hbの増加が読み上げ条件に比べて計算条件の方が大きいという傾向が左半球（T_9 = 2.81; P=0.020）と右半球（T_9 = 3.43; P=0.008）で同様に見られた．読み上げ条件で半球間の差は見られなかった．

%%1526_image2.png/600
$% "type × condition"の相互作用(a)Oxy-Hb (b)Deoxy-Hb（出典：参考文献{=1=}）

%%1526_image3.png/600
$% "phase × condition"の相互作用(a)Oxy-Hb (b)Deoxy-Hb（出典：参考文献{=1=}）

Deoxy-Hbの変化量は主効果においては有意であったが，"type × condition"（T_1,9 = 12.67; P=0.006）や"phase × condition"（T_1,9 = 12.90; P=0.006）における相互作用はそれほど顕著ではなかった．"type × condition"に対するポストホックt検定では，読み上げ条件と比較して文章問題を計算している方がDeoxy-Hbが高いことを明らかにした（T_9 = -2.488; P=0.035）．また，文章問題を読み上げている時と比較して，数式を読み上げている時の方がDeoxy-Hbの減少が大きかった（T_9 = -4.90; P=0.001）．"type × condition"の結果を{{3}}-bに示す．さらに"phase × condition"の分析から，アクティブ時のDeoxy-Hbの値は計算している時よりも読み上げのみの時の方が減少していることを示した（T_9 = -2.30; P=0.047）．加えて，計算条件におけるDeoxy-Hbの減少はベースライン時に比べてアクティブ時の方が大きく見られた（T_9 = -3.63; P=0.005）．"phase × condition"の結果を{{4}}-bに示す．

加えて，著者らは非ROIの活動が補正されたANOVAを行った．

Oxy-Hbについて，上記と比較できる結果として"type"（F_1,9 = 4.86; P=0.055）と"type × condition"（F_1,9 = 4.15; P=0.072），そして重要な結果として"phase × condition"（F_1,9 = 6.89; P=0.028）と"side × phase × condition"（F_1,9 = 6.17; P=0.035）が見つかった．"condition"の主効果は失われた．

Deoxy-Hbにおいて，ポストホック分析が上述のDeoxy-Hbで見つけられた結果を確認したうえで，"phase × type × condition"には重要な相互作用が見られた（F_1,9 = 11.67; P=0.008)．すなわち読み上げ対計算の高脱酸素化（T_9 = -3.44; P=0.007），読み上げ時と比べたアクティブ中の計算時におけるDeoxy-Hbの減少の大きさ（数式: T_9 = -2.44, P=0.037; 文章: T_9 = -2.96, P=0.016)，計算条件の中でベースラインと比較したときのアクティブ時のDeoxy-Hbのより顕著な減少（T_9 = -3.45; P=0.007)である. 

* 考察
本稿はNIRSを用いて計算処理中の大脳皮質の評価を行った最初のレポートである．実験の結果，計算タスク中の頭頂葉の上部および下部のOxy-Hbが増加し，同時にDeoxy-Hbは減少した（図3-a,b, 4-a,b）．神経細胞の密結合と酸素の供給に基づいて，この酸素処理パターンは大脳皮質の活性化の指標として解釈することができる(Fox and Raichle 1986)．また仮説の通り，計算タスク（コントロールされたタスクと比較）と，文章問題（数式問題と比較）ではより大きい皮質の活性化が見られた．

大脳皮質の中でも数学的な処理に関連する特定の部位で活性化を測定できたことを確認するため，著者らはROI内の反応から標的部位近辺の活性化を差し引いた．この「訂正された部分」の結果は，一般的な解析によって得られた著者らの結果を裏付けた．著者らは異なる計測に関連する既知の問題（例えば，計測値間に存在する実際の相関の過小評価）のため，基礎的な分析に加えてこれを実践した．

興味深いことに，読み上げ条件のタスクでは，Oxy-Hbの増加ではなく減少が見られた．これは測定領域の活性化信号として解釈できるかもしれない．なぜならば，おそらく著者らが計測プローブで覆っていない，隣接した領域（例えばウェルニッケ中枢：朗読時に言葉を理解するための領域）の活性化があったと考えられるからである(Fallgatter et al. 1998)．

計算問題における計算条件と読み上げ条件の差については，重要な意義を見出すことができなかった．これは読み上げ作業のデザインが影響していると考えられる．つまり4.5秒のあいだ数式を見ていながら，計算を行わないことは困難である．しかしながら，数学的な問題が文章内に含まれる場合，計算を行わず文章内の物語を追随する方がはるかに容易である．従って，今後の研究では計算作業を避けるため，読み上げ条件での計算問題の提示時間を短くするべきである．

文章問題では，数式問題よりも顕著な活動が見られた．この結果から，文章問題ではより広範囲のネットワークが活性化されるため多くの酸素消費量を要求されることを示している(cf. Fuchs et al. 2006)．本研究においてこの結果は，高い時間圧縮による難易度の高いタスクと混同するかもしれない．数式問題中，提示時間のほとんどは計算に用いることができるが，文章問題では文章を読む時間が必要となる．その結果，数式問題よりも文章問題の方がパフォーマンスは悪かった．文章問題の提示時間は今後の研究課題である．しかしながら，この高い酸素処理レヴェルは学習過程に関連するものとも考えられる．Lawらは関連学習タスク中の前頭葉・頭頂葉のネットワークで酸素消費量が高く，学習過程完了後は酸素消費がベースラインまで下がると述べている(Law et al. 2005). この記述と同様に，著者らのデータも，単なる数式計算に比べて文章問題では時間的プレッシャーが大きい中で未知のタスクの解決方法を学習する過程のものと解釈できる．

要約するに，著者らは両半球の上下頭頂葉脳回の一部は数式と文章の両方の計算問題で問題解決の重要な役割を果たしている証拠を発見した．この結果は多チャンネルNIRSによって計測されたものであり，近年の研究論文の結果と一致している．この結果は今後，fMRIやPETの使用が難しい子供たちに対して，数学的処理中の脳の測定を行う研究に利用できる．さらに，このニューロンの活性化はタスク形式に依存しているように見える．すなわち，さらに難しく複雑なタスクほど（例えば時間的プレッシャーの中の読み上げや計算），得られる酸素処理量も大きくなる．今後の研究では，困難さと複雑さを区別することが必要となる．

# Melany M. Richter, Kathrin C. Zierhut, Thomas Dresler, Michael M. Plichta, Ann-Christine Ehlis, Kristina Reiss, Reinhard Pekrun, Andreas J. Fallgatter,“Changes in cortical blood oxygenation during arithmetical tasks measured by near-infrared spectroscopy”, J Neural Transm, 116, 267-273