{% if user.is_anonymous %}{% ifequal item.count_me 0 %}{% else %}
			<li class="marg15"><a href="/isreport/tag/{{item.name|iriencode}}">{{item.name}}　({{item.count_me}})</a></li>{% endifequal %}{% else %}
{% ifequal item.count_private_me 0 %}{% else %}
			<li class="marg15"><span class="utility"><a class="action edits" id="tag_{{item.id}}" title="編集する" href="/isreport/edit_tag?target={{item.id}}">編集</a></span>
			<a href="/isreport/tag/{{item.name|iriencode}}">{{item.name}}　({{item.count_private_me}})</a></li>{% endifequal %}{% endif %}