* section1
[[1]]にtableレイアウトのサンプルを示す．
$| sample table
|*table|*layout|*th|
|table|layout|td|

** sub section1
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
*** subsub section1
>?
この引用符で囲まれた領域は
枠がつきます
?<
$% block sample
脚注((または註釈))や参考文献{=1=}の追加も出来ます．
# IS記法<br /><a href="http://is.doshisha.ac.jp/isreport/isdlstyle" target="_blank">http://is.doshisha.ac.jp/isreport/isdlstyle</a>