<!DOCTYPE HTML>
<html lang="ja">
<head> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
	<meta name="google-site-verification" content="DJ6X5poRBCu8BbvpDMrhcz9I03fcZBk9YlAKxsGfbXg" />
	<title>{% if base_title %}{{base_title}} - {% endif %}IS Report System</title>
	<link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico" type="image/x-icon" />{# <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/isbooks.css"/> #}
	<meta name="keywords" content="光トポグラフィ，医用画像，医療空間，クラスタリング，多目的最適化，シミュレーテッドアニーリング，遺伝的アルゴリズム，知的照明，並列分散処理，ソーシャルウェアアプリケーション" />
	<meta name="description" content="本サイトは「同志社大学生命医科学部医情報学科 医療情報システム研究室」及び「同志社大学工学部インテリジェント工学科 知的システムデザイン研究室」の所有する研究報告である ISレポートの管理システムです．本サイトに関する お問い合わせはISグループシステム担当&lt;report@is.doshisha.ac.jp&gt; まで．" />
	<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/base.css"/>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/text-hatena0-21.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/isbooks.js" ></script>
	<script type="text/javascript">
	<!--
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-9609071-3']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	//-->
	</script>
</head>
<body>
<div id="wrapper">
<div id="header" class="navit">
	<ul id="operation" class="high_right">
		<li class="utility_home"><a href="/isreport">Home</a></li>
		{# <li><a href="/isreport/category">Category</a></li> #}
		<li><a href="/isreport/link">Link</a></li>
		<li><a href="/isreport/help">Help</a></li>
		<li><a href="/isreport/category?target=renew">News</a></li>
		<li><a href="mailto:report@is.doshisha.ac.jp">Contact</a></li>
		<li><a href="/isreport/rss">RSS</a></li>
		<li>{% if user.is_anonymous %}<a href="/isreport/login">Login</a>{% else %}<a href="/isreport/logout">Logout【{{user}}】</a>{% endif %}</li>
	</ul>
	<h1><a href="/isreport"><img src="{{ MEDIA_URL }}img/isreport_logo.png" alt="IS Report System Logo" /></a></h1>
	<p id="site_description">研究レポート公開システム</p>
	<div id="topic_path">
		<ol>
			{{navi|safe}}
		</ol>
	</div>
<!-- / #header --></div>

<div id="main">
<div class="inner">
<div class="content_section">
	<h2>Home</h2>
	<div class="marg15">
	<h3><a href="/isreport/">IS Report System</a></h3>
		<p>本サイトは
		「<a href="http://is.doshisha.ac.jp/" target="_blank">同志社大学生命医科学部医情報学科 医療情報システム研究室</a>」
		及び
		「<a href="http://mikilab.doshisha.ac.jp/" target="_blank">同志社大学工学部インテリジェント工学科 知的システムデザイン研究室</a>」
		の所有する研究報告である ISレポートの管理システムです．<br/>
		利用方法は <a href="/isreport/help" target="_blank">Help</a> を参考にしてください．<br/>
		本サイトに関する お問い合わせはISグループシステム担当&lt; <a href="mailto:report@is.doshisha.ac.jp?subject=&amp;body=">report@is.doshisha.ac.jp</a> &gt; まで．
		</p>
		<h3><a>ISレポート</a></h3>
		<p>
本研究室では光トポグラフィ，医用画像，医療空間，クラスタリング，多目的最適化，シミュレーテッドアニーリング，遺伝的アルゴリズム，知的照明，並列分散処理，ソーシャルウェアアプリケーションなどの研究を行っています．<br/>
			ISレポートはこれらの研究内容について，成果や関連研究の文献をまとめた研究報告レポートです．
		</p>
		</div>
</div>
<div class="content_section">
	<h2>最新ISレポート</h2>
	<div class="marg15">
		{% for item in new_items %}<div class="hovs">
		<h3 class="report_title"><a href="{% if item.istext %}/isreport/contents?entry={{item.id}}{% else %}/report/{{item.path}}/isreport{{item.num}}.pdf{% endif %}">{{item.title}}</a>
			<span class="utility">{% if item.istext %}
				<a class="action gethtml" id="html_{{item.id}}" title="HTML形式でダウンロードする" href="/report/{{item.path}}/index.html" target="_blank">&nbsp;</a>
				<a class="action getepub" id="epub_{{item.id}}" title="EPUB形式でダウンロードする" href="/isreport/zipper?id={{item.id}}">&nbsp;</a>
				{% endif %}{% if item.ispdf %}<a class="action getpdf" id="pdf_{{item.id}}" title="PDF形式でダウンロードする" href="/report/{{item.path}}/isreport{{item.num}}.pdf" target="_blank">&nbsp;</a>{% endif %}{% if not user.is_anonymous %}<!-- ログイン中のユーザがこのエントリーをお気に入り登録しているかチェック。回りくどい実装なのでエントリー数が多くなったときどうなるかわからない -->
				<a class="action util_fav{% with item.get_favoritter as favter %}{% for fav in favter %}{% ifequal user.id fav.create_by.user.id %} star{% endifequal %}{% endfor %}{% endwith %}" id="fav_{{item.id}}" title="お気に入り" onClick="fav_click(this)">&nbsp;</a>
				<a class="action addbook" id="add_{{item.id}}" title="My Bookに追加する" onClick="addbook(this)">&nbsp;</a>
				<a href="/isreport/edit_entry?target={{item.id}}" class="addtag action">&nbsp;</a>
				<!-- <a class="action util_etc" id="etc_{{item.id}}" title="コンテンツを削除する">　</a> -->
			{% endif %}</span>
		</h3>
		<dl class="list">
			<dt>公開日</dt>
			<dd>{% if not item.ispublic %}<img alt="lock" src="{{ MEDIA_URL }}/img/lock.png" width="18"/>&nbsp;{% endif %}<a href="{% if item.istext %}/isreport/contents?entry={{item.id}}{% else %}/report/{{item.path}}/isreport{{item.num}}.pdf{% endif %}">{{item.show_publish}}</a></dd>
			<dt>著者</dt>
			<dd>{% for author in item.authors %}<a href="/isreport/author/{{author.name|iriencode}}" class="a_author">{{author.name}}</a>{% if not forloop.last %}， {% endif %}{% endfor %}
			</dd>{% if item.groups %}
			<dt>研究グループ</dt>
			<dd>
				{% for group in item.groups %}<a href="/isreport/group/{{group.name|iriencode}}" class="report_tag">{{group.name}}</a>{% endfor %}
			</dd>{% endif %}{% if item.tags %}
			<dt>キーワード</dt>
			<dd>
				{% for tag in item.tags %}<a href="/isreport/tag/{{tag.name|iriencode}}" class="report_tag">{{tag.name}}</a>{% if not forloop.last %}，{% endif %}{% endfor %}
			</dd>{% endif %}{% if item.abstract %}
			<dt>アブストラクト</dt>
			<dd>{{item.abstract}}</dd>{% endif %}
		</dl>
		</div>{% endfor %}
	</div>
</div>
<div class="content_section">
	<h2>お知らせ</h2>
	<div class="marg15">
	{% include "isbookshelf/top_renew.html" %}
	<a href="/isreport/category?target=renew">&gt;&gt;Read More</a>
	</div>
	<!-- {% if user.is_staff %}
	<p>※Admin Only <a href="/isreport/edit_renew">お知らせを更新する</a></p>
	{% endif %} -->
</div>
<!-- / .inner --></div>
<!-- / #main --></div>
<div id="sub">
	<div class="content_section">
		<h3>サイト内検索</h3>
		<div class="marg15">
			<form action="http://is.doshisha.ac.jp/isreport/search_result" id="cse-search-box">
				<input type="hidden" name="cx" value="partner-pub-0600889375680677:lnmmq9-2fkt" />
				<input type="hidden" name="cof" value="FORID:11" />
				<input type="hidden" name="ie" value="UTF-8" />
				<input type="text" name="q" size="15" class="google_seach"/>
				<input type="submit" name="sa" value="&#x691c;&#x7d22;" class="google_seach"/>
			{% csrf_token %}</form>
			<script type="text/javascript" src="http://www.google.co.jp/cse/brand?form=cse-search-box&amp;lang=ja"></script>
			<a href="/isreport/category?target=search" class="more">&gt;&gt; More</a></div>
		</div>
	<div class="content_section">
		<h3>コンテンツ</h3>
		<ul>
			<li {%ifequal target "new"%}class="sel_side"{%endifequal%}><a href="/isreport/category?target=new">最新ISレポート</a></li>
			<li {%ifequal target "group"%}class="sel_side"{%endifequal%}><a href="/isreport/group/">研究グループ別</a></li>
			<li {%ifequal target "author"%}class="sel_side"{%endifequal%}><a href="/isreport/author?active=true">著者別（所属）</a></li>
			<!-- <li {%ifequal target "year"%}class="sel_side"{%endifequal%}><a href="/isreport/category?target=year">年度別</a></li> -->
			<li {%ifequal target "year"%}class="sel_side"{%endifequal%}><a href="/isreport/author/">著者別（在籍年度）</a></li>
			<li {%ifequal target "tag"%}class="sel_side"{%endifequal%}><a href="/isreport/category?target=tag">タグ一覧</a></li>
			<li {%ifequal target "gallery"%}class="sel_side"{%endifequal%}><a href="/isreport/gallery">Epub Gallery</a></li>
		</ul>
	</div>
	<div class="content_section">
		<h3>その他</h3>
		<ul>
			<li {%ifequal target "home"%}class="sel_side"{%endifequal%}><a href="/isreport">トップページ / Home</a></li>
			{% if not user.is_anonymous %}
			<!-- <p><a href="/Utility">操作</a></p> -->
			<li {%ifequal target "download"%}class="sel_side"{%endifequal%}><a href="/isreport/epub">ダウンロード / Download</a></li>
			<li {%ifequal target "upload"%}class="sel_side"{%endifequal%}><a href="/isreport/upload_form">新規レポート作成 / Home</a></li>
			<li {%ifequal target "dashboard"%}class="sel_side"{%endifequal%}><a href="/isreport/dashboard">ダッシュボード / Dashboard</a></li>
			<li {%ifequal target "approval"%}class="sel_side"{%endifequal%}><a href="/isreport/approval">承認待ちレポート{%if appuser.approval_coount%}（{{appuser.approval_coount}}）{%endif%} / Approval</a></li>
			{% if user.is_staff %}
			<li {%ifequal target "admin"%}class="sel_side"{%endifequal%}><a href="/isreport/admin/" target="_blank">管理者用ページ / Admin</a></li>
			{% endif %}
			<li ><a href="/report/private/accesslog" target="_blank">アクセスログ / Log</a></li>
			<li {%ifequal target "setting"%}class="sel_side"{%endifequal%}><a href="/isreport/setting">個人設定 / Setting</a></li>
			{% endif %}
			<li {%ifequal target "link"%}class="sel_side"{%endifequal%}><a href="/isreport/link">外部リンク / Link</a></li>
			<li {%ifequal target "help"%}class="sel_side"{%endifequal%}><a href="/isreport/help" target="_blank">ヘルプ / Help</a></li>
			<li {%ifequal target "renew"%}class="sel_side"{%endifequal%}><a href="/isreport/category?target=renew">お知らせ / News</a></li>
			<li {%ifequal target "contact"%}class="sel_side"{%endifequal%}><a href="/isreport/category?target=renew">連絡先 / Contact</a></li>
			<li {%ifequal target "rss"%}class="sel_side"{%endifequal%}><a href="/isreport/rss" target="_blank">RSSフィード / RSS</a></li>
			{% if not user.is_anonymous %}
			<li {%ifequal target "logout"%}class="sel_side"{%endifequal%}><a href="/isreport/logout">ログアウト【{{user}}】 / Logout</a></li>
			{% else %}
			<li {%ifequal target "login"%}class="sel_side"{%endifequal%}><a href="/isreport/login">ログイン / Login</a></li>
			{% endif %}
		</ul>
	</div>
	<div class="content_section">
		<h3>記事アーカイブ</h3>
		<ul>
			<li><h4><a href="/isreport/category?target=year&amp;year=2011">2011年度　IS Report</a></h4></li>
			<li><a href="/isreport/category?target=year&amp;year=2010">2010年度　IS Report</a></li>
			<li><a href="/isreport/category?target=year&amp;year=2009">2009年度　IS Report</a></li>
			<li><a href="/isreport/category?target=year&amp;year=2008">2008年度　IS Report</a></li>
			<li><a href="/isreport/category?target=year&amp;year=2007">2007年度　IS Report</a></li>
			<li><a href="/isreport/category?target=year&amp;year=2006">2006年度　IS Report</a></li>
			<li><a href="/isreport/category?target=year&amp;year=2005">2005年度　IS Report</a></li>
			<li><a href="/isreport/category?target=year&amp;year=2004">2004年度　IS Report</a></li>
			<li><a href="/isreport/category?target=year&amp;year=2003">2003年度　IS Report</a></li>
			<li><a href="/isreport/category?target=year&amp;year=2002">2002年度　IS Report</a></li>
		</ul>
	</div>
<!-- / #sub --></div>

<div id="footer" class="navit">
<ul>
	<li class="utility_home"><a href="/isreport">Home</a></li>
	{# <li><a href="/isreport/category">Category</a></li> #}
	<li><a href="/isreport/link">Link</a></li>
	<li><a href="/isreport/help">Help</a></li>
	<li><a href="/isreport/category?target=renew">News</a></li>
	<li><a href="mailto:report@is.doshisha.ac.jp">Contact</a></li>
	<li><a href="/isreport/rss">RSS</a></li>
	<li>{% if user.is_anonymous %}<a href="/isreport/login">Login</a>{% else %}<a href="/isreport/logout">Logout【{{user}}】</a>{% endif %}</li>
</ul>
<pre id="copyright">Copyright &copy; <span class="copy_date">2002-2011</span> <a href="http://is.doshisha.ac.jp/">MISL</a>, All rights reserved.
No part of this document may be reproduced, copied, distributed,transferred, modified, or transmitted, in any form or by any means,without the prior written permission of the authors.
In no event shall the authors be liable for any damages caused in any way out of the use of this document．
</pre>
<!-- / #footer --></div>
<!-- / .wrapper --></div>
</body>
</html>
