<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<!-- "ja" added -->
<head>
<title>
   【文献調査】光源の色温度が精神活性レベルに及ぼす影響
  </title>
<link href="css/isdlreport.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="application/vnd.adobe-page-template+xml" href="page-template.xpgt" />
</head>
<body>
<div class="body">
<style type="text/css">
    div.p { margin-top: 7pt;}
   </style>
<style type="text/css">
    <!--
 td div.comp { margin-top: -0.6ex; margin-bottom: -1ex;}
 td div.comb { margin-top: -0.6ex; margin-bottom: -.6ex;}
 td div.hrcomp { line-height: 0.9; margin-top: -0.8ex; margin-bottom: -1ex;}
 td div.norm {line-height:normal;}
 span.roman {font-family: serif; font-style: normal; font-weight: normal;} 
 span.overacc2 {position: relative;  left: .8em; top: -1.2ex;}
 span.overacc1 {position: relative;  left: .6em; top: -1.2ex;} -->
   </style>
<div class="header">
<h1 class="title">
     【文献調査】光源の色温度が精神活性レベルに及ぼす影響
    </h1>
<h3 class="author">
     田辺 竜也, 廣安 知之, 三木 光範
    </h3>
<h4 class="number">
     ISDL Report　 No. 20100510141
    </h4>
<h4 class="date">
     2010年 5月 10日
    </h4>
<h2 class="abstract">
     Abstract
    </h2>
<div class="abstract">
     本レポートでは, Takatsugu Deguchi, Masahiko Satoの「The Effect of Color Temperature of Lighting Sources on Mental Activity Level」
     <a href="#Bib::road_unroad">
<font size="-1">
<sup>
        [1]
       </sup>
</font>
</a>
     の調査報告をまとめた. 本稿は照明の色温度とそれが人間に与える影響について脳波を計測することで述べている．11名の男子学生(平均23.2歳)を被験者とし付随陰性変動(CNV)法との関連で標記について検討が行われた．CNVは 3000,5000,7500[K]の3つの異なった色温度で計測された．照明の照度は1000[lx]に固定されている．CNVは採光状態によって影響を受け, 特に1025から1125[msec]の間のCNVは3000[K]の色温刺激よりも7500[K]の方が明らかに大きかった．この傾向は800[msec]と1300[msec]の領域でも見られた．
     <p>
</p>
</div>
<p>
</p>
</div>
<p>
<h2 class="section">
<a name="tth_sEc1">
      1
     </a>
     &nbsp;&nbsp;はじめに
    </h2>
</p>
<p>
    本レポートでは, Takatsugu Deguchi, Masahiko Satoの「The Effect of Color Temperature of Lighting Sources on Mental Activity Level」
    <a href="#Bib::road_unroad">
<font size="-1">
<sup>
       [1]
      </sup>
</font>
</a>
    の調査報告をまとめた. 本稿は照明の色温度とそれが人間に与える影響について脳波を計測することで述べている．
   </p>
<p>
    光の照度や色温度は光源の重要な指標である．なぜならば，2つの指標は人間の生産性に影響を及ぼすからである．しかしながら，照明の分野におけるほとんどの研究で注目を集めているのは照度である．色温度の影響に関する研究は稀である．
   </p>
<p>
    Kruthof（1941）は照明の色温度が快，不快に関連する生理的作用を生み出すほか，快く感じるときの照度の最高値，最小値も色温度に依存すると提案した．この研究は明確な証拠を欠いてはいたものの，彼の考えは色温度の影響に関する研究の先駆けとして評価されるものであった．彼の提案には何人もの研究者が追加実験を行っている（Kanaya and Kichze, 1977, Yujiri, 1986）．
   </p>
<p>
    学習障害に関する論文で，Ott（1976）は照明の色温度が子供の活動レベルに影響を及ぼすと主張している．またKobayashiとSato（1992）は自律神経の活動レベルが光源の色温度と共に変化すると報告している．この研究の目的は随伴陰性変動（Contingent Negative Variation：CNV）の適用によって，色温度が精神活動に及ぼす影響を調査することである．
   </p>
<p>
<h2 class="section">
<a name="tth_sEc2">
      2
     </a>
     &nbsp;&nbsp;実験概要
    </h2>
</p>
<p>
    22歳～26歳の男性被験者11名（平均年齢23.2歳）を対象に被験者実験を行った．
   </p>
<p>
    3つの異なる環境下で各被験者の脳波（electroencephalogram：EEG）を計測する際には，銀/塩化銀の皿電極を10/20法におけるFz，Cz，およびPzを含む中心線と，リンクした耳たぶに設置した．また眼電図（electro-oculogram：EOG）を計測する際には，右目の上下にそれぞれ1つずつ皿電極を設置した．電極間の相互インピーダンスは10[kΩ]以下で維持した．また一定時間のEEGとEOGは2[sec]ごとで，30[Hz]以上の高周波数は遮断した．EEGおよびEOGの計測には生体アンプ（日本光電, AB-621G）を使用した．
   </p>
<p>
    各実験は聴覚・電気的に遮断された気候室で実施された．室温と湿度はそれぞれ20[℃]，50[％]とした．照明の照度は1000[lx]で固定し，色温度は3つの異なる蛍光灯を用いて3000[K]，5000[K]，7500[K]とした．
   </p>
<p>
    被験者はLEDディスプレイから1.2[m]離れた位置でシートにもたれかかるようにした．安定した記録を行うため20分経過した後，実験を実施した．各試行は警告刺激（S1）と，その3秒後のボタンを押すための命令刺激（S2）で構成される．S1は170[msec]続くの瞬間的な音（300［Hz］，55[dBSPL]）であり，S2は赤いLEDを使った点灯信号である．被験者には目の動きをできるだけ少なくしてLEDを見続け，S2が発現したときすぐにボタンを押すよう支持した．各試行のインターバルは12[sec]から18[sec]の間でランダムに変化する．30試行およそ8分間の計測を1回とする．2つの刺激はA/D変換機（アイ・オー・データ機器，PIO-286VF）を組み込んだコンピュータ（EPSON，PC-286VF）により制御されている．もう1つのコンピュータ（EPSON，PC-286VF）を室内に設置し，オンラインでEEGとEOGの電位をディジタル化した．サンプリング率は50[Hz]，容量は12[BIT]である．そのデータはMOディスクに蓄積される．また，後者のコンピュータにはA/D変換機（MICRO SCIENCE，ADM-1998BPC）は備えている．本実験システムをFig.1に示す．
   </p>
<p>
<a name="tth_fIg1">
</a>
<center>
<a name="gainen">
</a>
<img src="img/Fig1.jpg" width="594" height="275" />
<div class="caption" align="center">
      Fig.1: 実験システムの概要（出典：参考文献
      <a href="#Bib::road_unroad">
<font size="-1">
<sup>
         [1]
        </sup>
</font>
</a>
      ）
     </div>
</center>
</p>
<p>
    低照度，高色温度（10[lx]，3300[K]）の照明で練習を行った後，各被験者は3つの異なる照明の下で実験に取り組んだ．光のスペクトラムの順番は被験者ごとに無作為に選んだ．
   </p>
<p>
<!--あらかじめS1の500[msec]の電圧を基準とした理由は，S1が平均された後、500ミリセカンドの前S1時代の中間の電圧は、各試みの基線レベルおよび否定のコンポーネントとして使用されました。-->
    EOGと反応時間はEEGの平均から異常値を排除するための基準として用いられた．そして，以下の場合は平均値からコンピュータによって自動的に排除された．
   </p>
<p>
<ol type="1">
<li>
      EOGの値が±150[μV]を超えたとき．
      <p>
</p>
</li>
<li>
      反応時間が150[msec]を下回った，もしくは350[msec]を上回ったとき．
      <p>
</p>
</li>
</ol>
<h2 class="section">
<a name="tth_sEc3">
      3
     </a>
     &nbsp;&nbsp;実験結果
    </h2>
</p>
<p>
    2人の異なる被験者のEEG波形の平均をFig.2に図のサンプルを示す．
    <a name="tth_fIg2">
</a>
<center>
<a name="gainen">
</a>
<img src="img/Fig2.jpg" width="436" height="221" />
<div class="caption" align="center">
      Fig.2: 2人の異なる被験者のEEG平均値．2つのデータは色温度5000[K]の環境下で計測点Czにおけるもの．（出典：参考文献
      <a href="#Bib::road_unroad">
<font size="-1">
<sup>
         [1]
        </sup>
</font>
</a>
      ）
     </div>
</center>
</p>
<p>
    2つのEEGは色温度5000[K]の環境下における計測点Czのデータである．Fig.2より，S1付近で最初の波形のピーク値が観測でき，随伴陰性変動（contingent negative variation：CNV）がS2に至るまでの段階で確認できる．そこで2人の被験者の間には，わずかな違いがみられた．OZWの場合は少しずつ上昇するのに対し，HGTの場合は変動が少ない．上記のような違いが被験者間で観測されたが，CNVのパターンはすべての計測結果を通じて高い再生産性を維持していた．
   </p>
<p>
<a name="tth_fIg3">
</a>
<center>
<a name="gainen">
</a>
<img src="img/Fig3.jpg" />
<div class="caption" align="center">
      Fig.3: 11人の被験者を対象とした各環境のCNVの平均波形（出典：参考文献
      <a href="#Bib::road_unroad">
<font size="-1">
<sup>
         [1]
        </sup>
</font>
</a>
      ）
     </div>
</center>
</p>
<p>
    Fig.3は各環境につき11人の被験者の波形の平均をとることで，CNVの一般的傾向を示したものである．CNVのパターンはEEGの主要な部分の違いも含めて，わずかに異なることが示されている．波形の陰性変動は，EEGではCzが最大であった．FzおよびCzにおける初期段階では，CNVがPzよりも大きく，時間が経過するとCzおよびPzのCNVはFzよりも大きかった．このFig.3が示すように，これらの傾向は照明に影響される．
   </p>
<p>
    CNVの振幅を照明ごとに比較した．色温度7500[K]のとき，3000[K]のときよりも大きい値をとる傾向があった．50[msec]毎の範囲でt検定を行った結果，CzおよびFzの場合に1025[msed]から1125[msec]までの範囲内でS1後に有意水準5\%未満で有意な反応が確認できた(Fig.4)．更に，800[msec]から1300[msec]の範囲内においても有意水準10\%未満でほぼ有意であることが明らかになった．
   </p>
<p>
<a name="tth_fIg41">
</a>
<center>
<a name="gainen">
</a>
<img src="img/CNV_Fz.jpg" width="504" height="228" />
</center>
<a name="tth_fIg42">
</a>
<center>
<a name="gainen">
</a>
<img src="img/CNV_Cz.jpg" width="504" height="228" />
</center>
<a name="tth_fIg43">
</a>
<center>
<a name="gainen">
</a>
<img src="img/CNV_Pz.jpg" width="504" height="228" />
<div class="caption" align="center">
      Fig.4: 50[msec]単位のCNV振幅．正方形はそれぞれ，11人の被験者の中間値を表わす．矢で印をつけられた3000[k]と7500[k]の間のCNVの差が統計的に有意な部分を示す．（出典：参考文献
      <a href="#Bib::road_unroad">
<font size="-1">
<sup>
         [1]
        </sup>
</font>
</a>
      ）
     </div>
</center>
</p>
<p>
    各環境における全被験者の反応時間をFig.5に示す．
   </p>
<p>
<a name="tth_fIg5">
</a>
<center>
<a name="gainen">
</a>
<img src="img/Fig5.jpg" />
<div class="caption" align="center">
      Fig.5: 各環境における全被験者の反応時間を示したヒストグラム（出典：参考文献
      <a href="#Bib::road_unroad">
<font size="-1">
<sup>
         [1]
        </sup>
</font>
</a>
      ）
     </div>
</center>
</p>
<p>
    反応時間の中央値と標準偏差はそれぞれ，色温度が3000[K]のとき237.9[msec]および12.3[msec]，5000[K]のとき236.5[msec]および13.8[msec]，7500[K]のとき235.3[msec]および14.5[msec]であった．それらの間に有意な差はなかった．
    <h2 class="section">
<a name="tth_sEc3">
      4
     </a>
     &nbsp;&nbsp;考察
    </h2>
</p>
<p>
    Kruithof（1941）の提案によれば，色温度5000[K]かつ照度1000[lx]では"pleasant"（愉快な，楽しい，心地の良い）の照明に属する．しかしながら色温度が3000[K]または7500[K]のときは"pleasing"の範囲から外れ，それぞれ"dim"（鈍い，悲観的な）や"cold"（寒い，ぞっとする）の照明に属するという．異なる光に対する感覚を比較するため，本研究ではこれらの3つの色温度を選択したことは合理的であるといえる．
   </p>
<p>
    CNVでは初期と後期の構成がこれまで検討されてきた（Walter et al.，1964）．CNVのほとんどの研究では初期の部分が定位反応でS1と関係があり，遅い部分が筋肉運動に備えておりS2と関係があることが示唆されている（e.g. Loveless et al., 1975）．Rohbaughら（1976）とBirbaumerら（1990）はCNVの遅い部分と反応時間の間にある統計的に重要な負の相関を発見したものの，相関性は現在の研究でも発見されていない．実験結果から150[msec]以下や350[msec]以上の値が除外されたように，反応時間の変化もこの研究において非常に小さかった．この手順では，遅い部分と反応時間との間の相関をほとんど引き起こさなかったのかもしれない．
   </p>
<p>
    Kornhuberら（1965）はCNVの発生源として準備電位の概念を示唆した．本研究において照明環境によるCNVの差に関して言えば，反応時間の差は準備電位の期間である可能性を否定できないかもしれない．
   </p>
<p>
    初期の構成は一種の定位反応とみなされており，S1刺激の強さ，形式，説明の方法により変化すると思われている（Loveless et al., 1975, Gaillard et al., 1976）．本研究では，照明を除く実験条件をすべて統一した．それゆえ，初期の構成の差は照明の環境によるものであるといえる．S1後の1025[msec]から1125[msec]以内のCNVは，色温度7500[K]のほうが3000[K]のときと比べて大きかった．この傾向はまた800[msec]から1600[msec]以内の計測点CzにおけるCNVでも観測された．これは3000[K]と7500[K]のときのCNVの差が，それぞれの環境の違いを反映していることを意味するものである．
   </p>
<p>
    Katayamaら（1979）は上行性網様体賦活系がCNVの生成と基礎的な関係を持っていることを示唆している．Birbaumerら（1990）はCNVが体細胞近くの，あるいはその体細胞のさらに深い層を発生源にもつ先端樹状突起で興奮性シナプス後電位（EPSP）によることを示した．したがって，3000[K]のときに比べて7500[K]でより大きいCNVが計測されるのは，網様賦活系でより大きなEPSPが引き起こされているためであると考えられる．
   </p>
<p>
    わずかながら，既存の研究で色温度や光のスペクトルが与える影響について発表されている．本研究はCNVを照明の色温度に適用しようという最初の試みかもしれない．KobayashiとSato（1992）は高色温度が高い拡張気圧を引き起こす原因となり，低色温度よりも血管の収縮活動に影響を及ぼすと結論づけている．この現象はKruithof（1941）他によって議論された主観的感覚の変化のための生理学的アルゴリズムの1つかもしれない．
   </p>
<p>
    Ott（1976）はクール白色蛍光灯の下で活動する子供は，フルスペクトル蛍光灯の下で活動する子供よりもはしゃぐことが述べられている．彼の研究はカメラによる観察研究だったが，彼の結論は，クール白色蛍光灯には活性化させる効果があるという本研究の結論と類似している．CNVの結果より，本研究は上行性網様体賦活系の観点からすると，高い色温度の光が活性化メカニズムに効果があることを示唆している．
   </p>
<p>
    しかしながら，本研究は光スペクトルの効果に関する研究のための予備研究としての重要性も持っている．更なる研究には，どの程度の色温度が活性化を促し，その結果何がもたらされるかを検討する必要がある．
   </p>
<p>
<h2 class="section">
     References
    </h2>
<dl compact="compact">
<dt>
<a name="Bib::road_unroad">
       [1]
      </a>
</dt>
<dd>
      &nbsp;Takatsugu Deguchi, Masahiko Sato
      <br />
      『The Effect of Color Temperature of Lighting Sources on Mental Activity Level』,
      <br />
      生理人類学研究会会誌 11(1), 37-43, 1992-01-01
     </dd>
</dl>
</p>
<p>
<hr />
<h2 class="copyright">
     Copyright
    </h2>
<a name="copyright">
</a>
</p>
<p>
<pre>
     Copyright&nbsp;(C)&nbsp;2010&nbsp;Tomoyuki&nbsp;Hiroyasu,&nbsp;All&nbsp;rights&nbsp;reserved.
Copyright&nbsp;(C)&nbsp;2010&nbsp;Mitsunori&nbsp;Miki,&nbsp;All&nbsp;rights&nbsp;reserved.
Copyright&nbsp;(C)&nbsp;2010&nbsp;Hisatake&nbsp;Yokouchi,&nbsp;All&nbsp;rights&nbsp;reserved.
Copyright&nbsp;(C)&nbsp;2010&nbsp;Tatsuya&nbsp;Tanabe,&nbsp;All&nbsp;rights&nbsp;reserved.
 
No&nbsp;part&nbsp;of&nbsp;this&nbsp;document&nbsp;may&nbsp;be&nbsp;reproduced,&nbsp;copied,&nbsp;distributed,
transferred,&nbsp;modified,&nbsp;or&nbsp;transmitted,&nbsp;in&nbsp;any&nbsp;form&nbsp;or&nbsp;by&nbsp;any&nbsp;means,
without&nbsp;the&nbsp;prior&nbsp;written&nbsp;permission&nbsp;of&nbsp;the&nbsp;authors.
In&nbsp;no&nbsp;event&nbsp;shall&nbsp;the&nbsp;authors&nbsp;be&nbsp;liable&nbsp;for&nbsp;any&nbsp;damages&nbsp;caused&nbsp;in&nbsp;any&nbsp;way
out&nbsp;of&nbsp;the&nbsp;use&nbsp;of&nbsp;this&nbsp;document．
    </pre>
</p>
<p>
<br />
<br />
<hr />
<small>
     File translated from
T
     <sub>
<font size="-1">
       E
      </font>
</sub>
     X
by
     <a href="http://hutchinson.belmont.ma.us/tth/">
      T
      <sub>
<font size="-1">
        T
       </font>
</sub>
      H
     </a>
     ,
version 3.80.
     <br />
     On 10 Jul 2009, 21:08.
    </small>
<hr />
<center>
<a href="../../">
      Back to Top
     </a>
</center>
</p>
</div>
</body>
</html>