<dl class="list">
	<dt>2011. 12.16</dt>
		<dd>関連レポート表示機能のアルゴリズムを改善</dd>
		<dd>memcachedにより、一部コンテンツの表示を負荷軽減・高速化</dd>
	<dt>2011. 12.10</dt>
		<dd>関連レポート（現時点ではほぼランダム）を表示する機能を追加</dd>
	<dt>2011. 10.20</dt>
		<dd>関連キーワードをネットワーク表示する機能を追加</dd>
	<dt>2011. 10.02</dt>
		<dd>サイドバーに月間人気レポート表示</dd>
		<dd>レポート下部にFacebookコメント投稿欄を設置</dd>
		<dd>データベース化されていない過去のレポートをインライン表示</dd>
	<dt>2011. 09.20</dt>
		<dd>一部レポートに自動で関連キーワードを表示</dd>
	<dt>2011. 05.16</dt>
		<dd>レポートをアプリ側でレンダリング</dd>
		<dd>一覧ビューの見直し(アブストラクトの表示)</dd>
		<dd>URL構造の変更(/entry?id=hoge -> /entry/hoge)</dd>
		<dd>エディタの改善(プレビュー画面の横分割{フルスクリーンモード}追加)</dd>
		<dd>コンテンツのキーワード自動リンク機能(付加されたタグのみ置換)</dd>
		<dd>MathJXを導入。TeX形式で数式の貼り付けが可能に</dd>
	<dt>2011. 03.18</dt>
		<dd>一部CSS変更。年度アーカイブの追加。</dd>
	<dt>2010. 12.05</dt>
		<dd>ISレポート編集画面を大幅改訂。主に画像アップロード周りの変更</dd>
	<dt>2010. 10.27</dt>
		<dd>ISレポート編集画面にsaveボタンを設置。逐次保存できるようになりました</dd>
	<dt>2010. 10.27</dt>
		<dd>ページタイトルをコンテンツに合わせて変更するようにしました</dd>
	<dt>2010. 10.20</dt>
		<dd>IS記法の一部仕様を変更。脚注と参考文献の記法を変更</dd>
	<dt>2010. 10.03</dt>
		<dd>IS記法の一部仕様を変更。カーソル位置にテンプレートを挿入</dd>
	<dt>2010. 09.17</dt>
		<dd>タイトル・アブスト・著者の部分一致検索を実装しました</dd>
	<dt>2010. 09.17</dt>
		<dd>本公開</dd>
	<dt>2010. 09.15</dt>
		<dd>過去のISDLレポートを追加しました</dd>
	<dt>2010. 09.08</dt>
		<dd>ベータ版公開</dd>
	<dt>2010. 09.08</dt>
		<dd>Designed and Developed by <a href="/isreport/author/%E5%AE%AE%E5%9C%B0%20%E6%AD%A3%E5%A4%A7">Masahiro MIYAJI :宮地正大(13th)</a>
	</dd>
</dl>