<dl class="list">
	<dt>2011. 12.16</dt>
		<dd>関連レポート表示機能のアルゴリズムを改善</dd>
		<dd>memcachedにより、一部コンテンツの表示を負荷軽減・高速化</dd>
	<dt>2011. 12.10</dt>
		<dd>関連レポート（現時点ではほぼランダム）を表示する機能を追加</dd>
	<dt>2011. 10.20</dt>
		<dd>関連キーワードをネットワーク表示する機能を追加</dd>
	<dt>2011. 10.02</dt>
		<dd>サイドバーに月間人気レポート表示</dd>
		<dd>レポート下部にFacebookコメント投稿欄を設置</dd>
		<dd>データベース化されていない過去のレポートをインライン表示</dd>
	<dt>2011. 09.20</dt>
		<dd>一部レポートに自動で関連キーワードを表示</dd>
	<dt>2011. 05.16</dt>
		<dd>大幅にレイアウトを変更しました</dd>
	<dt>2010. 09.17</dt>
		<dd>本公開</dd>
	<dt>2010. 09.15</dt>
		<dd>過去のISDLレポートを追加しました</dd>
	<dt>2010. 09.08</dt>
		<dd>ベータ版公開</dd>
</dl>