{% extends "isbookshelf/base/base.html" %}
{% block main %}
<div class="content_section">
	<h2>連絡先</h2>
	<div class="marg15">
	<div class="hovs clearfix hei180">
	<h3 class="report_title"><a href="http://is.doshisha.ac.jp/index.html" target="_blank">医療情報システム研究室</a></h3>
	<dl class="list">
		<dt>
			<img src="{{MEDIA_URL}}/img/misl_top.jpg" alt="MISL TOP PAGE" width="100"/>
		</dt>
		<dd>
			<p>
				本サイトに関してご意見･ご要望等ございましたら，下記のメールアドレスまでご連絡下さい．
			</p>
			<address>
				<a href="mailto:report&#64;is.doshisha.ac.jp">IS Report System管理グループ &lt; report&#64;is.doshisha.ac.jp &gt;</a><br />
				<a href="mailto:tomo&#64;is.doshisha.ac.jp">責任者: 廣安知之教授 &lt; tomo&#64;is.doshisha.ac.jp &gt;</a>
			</address>
		</dd>
	</dl>
	</div>
	</div>
</div>
{% endblock main %}