{% extends "isbookshelf/base/base.html" %}
{% block main %}
<div class="content_section">
	<h2>リンク</h2>
	<div class="marg15">
	<div class="hovs clearfix hei180">
	<h3 class="report_title"><a href="http://is.doshisha.ac.jp/index.html" target="_blank">同志社大学 生命医科学部　医療情報システム研究室</a></h3>
	<dl class="list">
		<dt>
			<img src="{{MEDIA_URL}}/img/misl_top.jpg" alt="MISL TOP PAGE" width="100"/>
		</dt>
		<dd>
			<p><a href="http://is.doshisha.ac.jp/~tomo" target="_blank">廣安　知之</a>・横内　久猛が主催する当研究室では，高度で知的な医療・医用システムの研究を行っています．</p>
			<p>私たちは，医療情報システムに関連する研究の世界的な拠点となることを目指します．</p>
			<ul class="ulist">
				<li>CT，MRI，DRなどの画像診断装置や高度脳機能の活性化状態を画像化する<br />光トポグラフィ装置を利用した画像の処理や認識の研究</li>
				<li>ユビキタス技術を駆使した知的医療空間の研究</li>
				<li>膨大な医療情報データを処理し蓄える研究</li>
				<li>医療情報データの最適化，クラスタリング，データマイニングに関する研究</li>
			</ul>
			<p>われわれはこれまでに，PCクラスタを始めとする並列処理の研究，遺伝的アルゴリズムなどの最適化アルゴリズムの研究を進めてきました．これらに関しては，世界的な成果を発表することができました．</p>
			<ul class="ulist">
				<li>大規模PCクラスタの構築　2003年度　世界のランキングにおいて93位</li>
				<li>マイクロソフトを始めとする各先進企業とコンソーシアムを作り，HPC(ハイパフォーマンスコンピューティング）の普及に貢献</li>
				<li>並列処理と多目的に対応した遺伝的アルゴリズムを始めとする進化計算アルゴリズムの構築</li>
			<p>今後はこれらの技術を利用して，上記のテーマで研究を遂行します．</p>
		</dd>
	</dl>
	</div>
	<div class="hovs clearfix hei180">
	<h3 class="report_title"><a href="http://mikilab.doshisha.ac.jp/index.html" target="_blank">同志社大学 工学研究科 知的システムデザイン研究室</a></h3>
	<dl class="list">
		<dt>
			<img src="{{MEDIA_URL}}/img/isdl_top.jpg" alt="ISDL TOP PAGE" width="100"/>
		</dt>
		<dd><p><a href="http://mikilab.doshisha.ac.jp/Miki/mikihome.html" target="_blank">三木 光範</a>・<a href="http://team443.org/drupal/" target="_blank">吉見 真聡</a>が主催する本研究室では，最適化, シミュレーテッドアニーリング, 遺伝的アルゴリズム, 知的照明, 並列分散処理などの研究を行っています．</p></dd>
	</dl>
	</div>
	</div>
</div>
{% endblock main %}